@font-face {
    font-family: 'Sansation';
    src: url('Sansation-BoldItalic.woff2') format('woff2'),
        url('Sansation-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-LightItalic.woff2') format('woff2'),
        url('Sansation-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Bold.woff2') format('woff2'),
        url('Sansation-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Italic.woff2') format('woff2'),
        url('Sansation-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Light.woff2') format('woff2'),
        url('Sansation-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('Sansation-Regular.woff2') format('woff2'),
        url('Sansation-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

